[user]
	email = nrr@corvidae.org
	name = Nathaniel Reindl

[alias]
	ff = pull --ff-only
	s = status -sb
	a = !git add . && git status
	au = !git add -u . && git status
	aa = !git add . && git add -u . && git status
	c = commit
	cm = commit -m
	ca = commit --amend # careful
	l = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	ll = log --stat --abbrev-commit
	lol = log --oneline --graph --decorate
	lawl = log --all --oneline --graph --decorate
	d = diff --color-words
	dc = diff --check
	dm = diff --color-words master..HEAD
	do = diff --color-words origin..HEAD
	ds = diff --color-words --cached
	master = checkout master
	spull = svn rebase
	spush = svn dcommit
	fixme = grep --heading --break -e 'FIX: *' -e 'FIXME*' -e 'XXX*'
	todo  = grep --heading --break -e 'TODO*'
	bbb = reset --hard HEAD^

[color]
	ui = true

[tar "tar.xz"]
	command = xz -c

[http]
	sslVerify = true

[push]
	default = matching
[merge]
	ff = false
[core]
        excludesfile = /Users/nrr/.gitignore.global
